html, body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	scroll-padding-top: 110px;
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	/* color: #333; */
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #110F1A;
    color: rgb(191, 191, 191) !important;
}

body.dark {
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0.67em;
    padding-block-end: 0.67em;
}

img {
	max-width: 100%;
}

a {
	/* color: rgb(0,100,200); */
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit;
	/* color: rgb(0,80,160); */
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
    transition: color .3s;
}
.dark button {
    color:rgb(191, 191, 191);
}

button:disabled {
	color: #999;
}

.dark button:disabled {
	color: rgb(82, 82, 82);
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

p img.emoji {
	height: 1em;
}