html, body {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin-top: 30px;
	transition: color .3s, background-color .3s;
	background-image: linear-gradient(to top, rgb(242,210,223), transparent min(180vh, 1080px));
}

body.dark {
	background-color: #1f1f1f;
	background-image: linear-gradient(to top, rgba(94, 61, 74, 0.685), transparent min(180vh, 1080px));
	color: rgb(191, 191, 191);
}

h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0.67em;
    padding-block-end: 0.67em;
}

a {
	/* color: rgb(0,100,200); */
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: inherit;
	/* color: rgb(0,80,160); */
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
